<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sign In</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../../../resources/css/styles.css" rel="stylesheet" media="screen" th:href="@{/resources/css/styles.css}"/>
		<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
	</head>
	<body>
		<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/quotes}">
			<th:block th:if="${param.error != null}">
				<div th:replace="fragments/alert :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
			</th:block>
			<fieldset>
				<legend>Please Provide Stock Quote Data</legend>
				<div class="form-group">
					<label for="quoteSymbol" class="col-lg-2 control-label">Stock Quote Symbol</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="quoteSymbol" placeholder="QuoteSymbol" name="quoteSymbol" />
					</div>
				</div>
				<div class="form-group">
					<label for="startDate" class="col-lg-2 control-label">Start Date</label>
					<div class="col-lg-10">
						<input type="date" class="form-control" id="startDates" placeholder="StartDate" name="startDate" />
					</div>
				</div>
				<div class="form-group">
					<label for="endDate" class="col-lg-2 control-label">End Date</label>
					<div class="col-lg-10">
						<input type="date" class="form-control" id="startDates" placeholder="StartDate" name="endDate" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">Get result</button>
					</div>
				</div>
			</fieldset>
		</form>
	</body>
</html>