<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../../../resources/css/styles.css" rel="stylesheet" media="screen" th:href="@{/resources/css/styles.css}"/>
		<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
		<div class="container">
			<div class="col-md-12">
				 <!-- /* Handle the flash message */-->
				 <th:block th:if="${message != null}">
					<!-- /* The message code is returned from the @Controller */ -->
					<div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
				</th:block>

				<table class="table table-bordered table-responsive">
					<tr>
						<th>STOCK SYMBOL</th>
						<th>OPEN PRICE</th>
						<th>CLOSE PRICE</th>
						<th>DATE</th>
					</tr>
					<tr th:each="quote : ${quotes}">
						<td th:text="${quote.symbol}"/>
						<td th:text="${quote.openPrice}"/>
						<td th:text="${quote.closePrice}"/>
						<td th:text="${quote.date}"/>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>