<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="myStyle.css"></link>
<meta charset="UTF-8"></meta>-->
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400&subset=latin,latin-ext'
      rel='stylesheet' type='text/css'>
-->
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/myStyle.css" rel="stylesheet" media="screen" th:href="@{/resources/css/myStyle.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <!--<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="../../../resources/js/jquery-1.11.3.min.js" th:src="@{/resources/js/jquery-1.11.3.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="content slider">
    <div class="slider">
        <h1>Cabzza</h1>

        <h2>sprawdź, która inwestycja będzie dla ciebie najlepsza</h2>
    </div>
</div>

<div class="container">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div style="height: 400px; overflow: auto;">
                    <div style="height: 40px">Firma A</div>
                    <div style="height: 40px">Firma B</div>
                    <div style="height: 40px">Firma C</div>
                    <div style="height: 40px">Firma D</div>
                    <div style="height: 40px">Firma E</div>
                    <div style="height: 40px">Firma F</div>
                    <div style="height: 40px">Firma G</div>
                    <div style="height: 40px">Firma H</div>
                    <div style="height: 40px">Firma I</div>
                    <div style="height: 40px">Firma J</div>
                    <div style="height: 40px">Firma K</div>
                    <div style="height: 40px">Firma L</div>
                    <div style="height: 40px">Firma M</div>
                    <div style="height: 40px">Firma N</div>
                    <div style="height: 40px">Firma O</div>
                    <div style="height: 40px">Firma G</div>
                    <div style="height: 40px">Firma F</div>
                    <div style="height: 40px">Firma D</div>
                    <div style="height: 40px">Firma F</div>
                    <div style="height: 40px">Firma G</div>
                    <div style="height: 40px">Firma H</div>
                    <div style="height: 40px">Firma Y</div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-xs-12"><p>Dokładne dane firmy<br/>dokładne dane firmy
                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <p>Dane</p>

                            <div class="col-sm-8 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username"></input>
                                    <input type="text" class="form-control" placeholder="Username"></input>
                                    <input type="text" class="form-control" placeholder="Username"></input>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><a style="width:100%; background-color: #336353" class="btn btn-default " href="#">inne</a>

                <div>
                </div>


            </div>
        </div>
    </div>
</div>


</body>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="bootstrap.min.js" type="text/javascript"></script>