<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <link href="../../../resources/css/styles.css" rel="stylesheet" media="screen" th:href="@{/resources/css/styles.css}"/> -->
    <!-- <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" /> -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="../../../resources/css/boostrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/boostrap.min.css}"/>
    
    <link href="../../../resources/css/myStyle.css" rel="stylesheet" media="screen" th:href="@{/resources/css/myStyle.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="menu container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i id="brand-name" class="
glyphicon glyphicon-euro"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1"
                 style="text-align:right;">
                <ul class="nav navbar-nav active">
                    <li><a class="btn btn-default" href="#">strona główna</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a class="btn btn-default" href="#">inne</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a class="btn btn-default " href="#">inne</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a class="btn btn-default" href="#">inne</a></li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<div class="content slider">
    <div class="slider">
        <h1>Cabzza</h1>

        <h2>sprawdź, która giełda będzie dla ciebie ....</h2>
    </div>
</div>

<div class="container">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div style="height: 400px;
  overflow: auto;">
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>
                    <div style="height: 40px">dsadas</div>

                </div>


            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-xs-12"><p>dhaskjdhasjkashfjkasdhfsjkfhasdklfashfjkashfaklsd<br/>fdjsklfhasdfjkahsdfjkasdhfjkshdfajksdhfsjka
                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <p>Dane</p>

                            <div class="col-sm-8 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username">
                                    <input type="text" class="form-control" placeholder="Username">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><a style="width:100%; background-color: #336353" class="btn btn-default " href="#">inne</a>

                <div>
                </div>


            </div>
        </div>
















<!--     <p class="lead"> hajhjhjahjahaj </p>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1>Cabzza</h1>
        <p class="lead">
            Welcome to the Spring MVC Quickstart application!
            Get started quickly by signing up.
        </p>
        <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
            <button type="button" class="btn btn-info">Info</button>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2015 Cabzza Team</div>
</div> -->
</body>
</html>