<!-- Content Section -->
<section class="content-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 col xs-12 step-box">
				<div class="row box-title">
					<div class="col-sm-2 text-diff-height">
						<h6>KROK </h6><h3>3</h3>
					</div>
					<div class="col-sm-10">
						<h6>Wybierz Walory</h6>
					</div>
				</div>

				<div class="row inside-box form-group">
					<div class="row" ng-repeat="quote in quotes">
						<div class="col-sm-offset-2 col-sm-5">
							<div class="row">
								<div class="checkbox">
									<input
										type="checkbox"
										name="selectedQuotes[]"
										value="{{quote.symbol}}"
										ng-model="quote.selected">
									<label>
										<p>{{quote.name}}</p>
									</label>
								</div>
							</div>
						</div>
						<div class="col-sm-1">
							<i class="stateIcon fa"></i>
						</div>
					</div>
				</div>
				<div class="row box-title">
					<div class="col-sm-offset-9 col-sm-3">
						<button type="button" class="btn" ui-sref="stockForm.step4" >Dalej</button>
					</div>
				</div>  
			</div>
		</div>
	</div>
</section>