<!-- Content Section -->
<section class="content-section">
	<div class="container-fluid">

		<!--step-1-->

		<div class="row">
			 <div class="col-sm-offset-1 col-sm-10 col xs-12 step-box">
				<div class="row box-title">
					<div class="col-sm-2 text-diff-height">
						<h6>KROK </h6><h3>1</h3>
					</div>
					<div class="col-sm-10">
						<h6>Wybierz tryb</h6>
					</div>
				</div>
				<div class="row inside-box">
					<div class="col-sm-offset-1 col-sm-4 col-xs-6 nopadding">
						<a type="radio" class="btn" value="MODE_INVEST" ng-model="formData.type">INWESTORSKI</a>
					</div>
					<div class="col-sm-offset-2 col-sm-4 col-xs-6 nopadding">
						<a type="radio" class="btn" value="MODE_EDUCATIONAL" ng-model="formData.type">EDUKACYJNY</a>
					</div>
				</div> 
				<div class="row box-title">
					<div class="col-sm-offset-9 col-sm-3">
						<button type="button" class="btn" ui-sref="stockForm.step2" >Dalej</button>
					</div>
				</div>  
			</div>
		</div>
	</div>
</section>