$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* load fonts */
@font-face {
    font-family: Lato-light;
    src: url('../fonts/Lato-Light.ttf');   
}

@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf');   
}

@font-face {
    font-family: Lato-Thin;
    src: url('../fonts/Lato-Thin.ttf');   
}

@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');   
}
/* end of load fonts */

body {
    background: #fafafa;
    font-family: "Lato-Light", Arial, sans-serif;
    text-align: center;
    color: rgba(119,34,17,1);
    width: 100%;
    height: auto;
    min-height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */
/* Custom alerts for notification */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
/* end of Custom alerts for notification */
/* general styles for Cabzza*/
.btn-cabzza{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  width: 30vw;
  border-radius: 28px;
  font-family:'Lato-Regular';
  color: #ffffff;
  font-size: 20px;
  background: rgba(255,255,255,0);
  padding: 5px 20px 5px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}
.btn-cabzza:hover {
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  color: rgba(119,34,17,0.8);
}
@media(max-width:768px) {
    .intro-section .btn {
            width: 50%;
            border-radius: 40px;
            font-size: 15px;
            padding: 10px 25px 10px 25px;
    }
}
.nopadding {
    padding: 0;
    border: 0;
}
.container-fluid {
    padding-bottom: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    border: 0;
}
p {
    font-size: 10px;
}
h1 {
    font-size: 90px;
}
h2{
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}

@media(max-width:768px) {
    p {
        font-size: 10px;
    }
    h1 {
        font-size: 90px;
    }
    h2{
        font-size: 50px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 10px;
    }
}

a {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
    font-family:'Lato-Regular';
    text-decoration: none;
}
i {
    font-size: 40px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10%;
    color: white;
}
@media(max-width:768px) {
    i {
        font-size: 10%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 40%;
    }
}
/* end of general styles for Cabzza */
/* Custom styles for index */
/* intro section */
.intro-section {
    background-image: url('../IMG/background_m.jpg');
    background-size: cover;
    padding-bottom: 3%;
}
a#register {
    font-size: 15px;
    display: block;
    color: white;
    text-align: right;
    padding-right: 8%;
}

a#register:hover,
a#register:hover {
    text-decoration: none;
    color: rgba(119,34,17,0.8);
}
@media(max-width:768px) {
    a#register {
        font-size: 15px;
        text-align: center;
        padding-top: 5%;
        padding-right: 0;
        display: block;
    }
}

#index-title {
    padding-top: 10%;
}

#index-subtitle {
    padding-bottom: 1%;
}
/* end of intro section */
/* content section */ 
.content-section {
    background-image: url('../IMG/background.png');
    background-size: cover;
} 
.part-1, .part-2, .part-3 {
    padding-top: 5%;
    padding-bottom: 5%;
}
.part-1 .mac {
    width: 100%;
}
.part-3 .ipad {
    margin-left: 30%;
    margin-top: 0%;
    position: absolute;
    width: 30vw;
    height: 45vw;
    overflow: hidden;
    display: block;
}
.part-3 .iphone {
    margin-left: 10%;
    margin-top: 30%;
    position: absolute;
    width: 17vw;
    height: 40vw;
    overflow: hidden;
    display: block;
    z-index: 100;
}
.part-1 img {
    overflow: hidden;
    padding-top: 10%;
    width: 120%;
    margin: 0;
    padding: 0;
}
.part-3 img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.part-1 .text-diff-height,
.part-3 .text-diff-height {
    padding-top: 30%;
    padding-left: 8%
}
.part-1 .text-diff-height h4,
.part-1 .text-diff-height h3,
.part-3 .text-diff-height h4,
.part-3 .text-diff-height h3 {
    text-align: left;
    color: rgba(119,34,17,1);
    display: inline;
    line-height: 100%;
}
.part-3 .text-diff-height h4,
.part-3 .text-diff-height h3 {
    color: white;
}
.part-1 .text-diff-height h3,
.part-3 .text-diff-height h3 {
    font-family:'Lato-Bold';
    line-height: 55%;
}

    @media(max-width:768px) {
        .part-1 img {
            padding-top: 0;
            width: 140%;
        }
        .part-1 .text-diff-height,
        .part-3 .text-diff-height {
            padding-top: 0%;
            padding-left: 0%;
            padding-bottom: 10%;
            text-align: center;
        }
        .part-3 .setheight {
            height: auto;
            position: relative;
        }

        .part-3 .ipad {
            left: 20%;
            margin-left: 0%;
            margin-top: 0%;
            position: relative;
            width: 55vw;
            height: 80vw;
        }

        .part-3 .iphone {
            left: 10%;
            margin-left: 0%;
            margin-top: 0%;
            position: absolute;
            height: 50vw;
            width: 25vw;
            display: none;
        }
}
.part-2 #column {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.part-2 i {
    font-size: 80px;
    color: rgba(119,34,17,0.8);
}

.part-2 h4 {
    text-align: justify;
}

.part-2 h3 {
    text-align: center;
    font-family: "Lato-Bold";
}

 @media(max-width:750px) {

    .content-section .part-2 i {
       font-size: 50px;
       color: rgba(119,34,17,0.2);
       position: relative;
    }

    .content-section .part-2 h6, h5 {
        text-align: justify;
        position: relative;
    }

    .content-section .part-2 h5 {
        text-align: right;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
    }
}

.content-section .part-3 .setheight{
    height: 45vw;
    position: relative;
}


    @media(max-width:768px) {


        .content-section .part-3 .setheight{
            height: auto;
            position: relative;
        }

        .content-section .part-3 .ipad {
            left: 20%;
            margin-left: 0%;
            margin-top: 0%;
            position: relative;
            width: 55vw;
            height: 80vw;
        }

        .content-section .part-3 .iphone {
            left: 10%;
            margin-left: 0%;
            margin-top: 0%;
            position: absolute;
            height: 50vw;
            width: 25vw;
            display: none;
        }

    }

/* footer styles */
.footer {
    height: 100%;
    padding-top: 5%;
    background-color: white;
    text-align: left;
}


@media(max-width:750px) {
    .footer h4, p {
        text-align: center;
    }

    .footer h4 {
        text-align: center;
    }
}


/*-----------------------------register.html------------------------------*/


.register-page,
.login-page {
    background-image: url('../IMG/background_register.png');
    background-size: cover;
}

.page-logo h3 {
    font-size: 3vw;
    color: rgba(119,34,17,0.8);
    margin-top: 10%;
    margin-bottom: 10%;
}

.register-box,
.login-box {
    background: rgba(255,255,255,0.5);
    height: auto;
    margin-top: 0;
    margin-bottom: 16.6667%;
} 

.register-box h3,
.login-box h3 {
    width: 100%;
    text-align: center;
    letter-spacing: 200%;
    font-size: 3vw;
    color: rgba(119,34,17,0.8);
}

.register-box .box-title,
.login-box .box-title {
    padding-top: 8%;
    padding-bottom: 5%;
    text-align: center;
}

.register-box .input-group,
.login-box .input-group {
    padding: 2%;
}

.register-box .input-style,
.login-box .input-style {
    height: 50px;
    width: 100%;
    font-size: 18px;
    background: rgba(0,0,0,0.05);
    padding: 15px;
    margin: 0 0 5px 0;
    border: solid 1px white;
    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
}

.register-box .input-style,
.login-box .input-style {
    outline: none;
}

.register-box .input-style:focus,
.login-box .input-style:focus {
    box-shadow: 0 0 3px 0px white;
    color: rgba(119,34,17,0.8);
}

.register-box .buttons-row,
.login-box .buttons-row {
    margin: 3%;
    padding-bottom: 3%;
}

.register-box .btn,
.login-box .btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  width: 100%;
  border-radius: 28px;
  color: #ffffff;
  font-size: 2vw;
  background: rgba(0,0,0,0.3);
  padding: 5px 20px 5px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.register-box .btn:hover,
.login-box .btn:hover {
  background: rgba(119,34,17,0.8);
  text-decoration: none;
}

.login-box a {
    color: rgba(119,34,17,0.8);
    font-size: 1.2vw;
    float: center;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    display: inline-block;
}


@media(max-width:750px) {

    .register-page,
    .login-page {
        min-height: 100vh;
    }

    .page-logo h3 {
        font-size: 5vw;
        color: rgba(119,34,17,0.8);
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .register-box,
    .login-box {
        background: rgba(255,255,255,0.5);
        height: auto;
        margin-top: 0;
        margin-bottom: 8.3334%;
    }  

    .register-box h3,
    .login-box h3 {
        font-size: 5vw;
    }

    .register-box .box-title,
    .login-box .box-title {
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .register-box .input-group,
    .login-box .input-group {
        padding: 2% 8% 2% 8%;
    }

    .register-box .buttons-row,
    .login-box .buttons-row {
        margin: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .register-box .btn,
    .login-box .btn {
      font-size: 5vw;
    }

    .register-box .btn:hover,
    .login-box .btn:hover {
      background: rgba(119,34,17,0.8);
      text-decoration: none;
    }

    .login-box a {
        font-size: 3vw;
        padding-bottom: 5%;
        padding-left: 3%;
        padding-right: 3%;
        display: inline-block;
        float: right;
    }

    .login-box a:hover,
    .login-box a:hover {
        text-decoration: none;
        color: #752111;
    }
}
/* end of Custom styles for index */
