
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPortfolioStoreLabel" translate="cabzzaApp.portfolioStore.home.createOrEditLabel">Create or edit a PortfolioStore</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="portfolioStore.id" readonly />
        </div>
        <div class="form-group">
            <label translate="cabzzaApp.portfolioStore.percent" for="field_percent">Percent</label>
            <input type="number" class="form-control" name="percent" id="field_percent"
                    ng-model="portfolioStore.percent"
                     />
        </div>

        <div class="form-group">
            <label translate="cabzzaApp.portfolioStore.newStockWallet" for="field_newStockWallet">newStockWallet</label>
            <select class="form-control" id="field_newStockWallet" name="newStockWallet" ng-model="portfolioStore.newStockWallet" ng-options="newStockWallet as newStockWallet.name for newStockWallet in newstockwallets track by newStockWallet.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="cabzzaApp.portfolioStore.stockInfo" for="field_stockInfo">stockInfo</label>
            <select class="form-control" id="field_stockInfo" name="stockInfo" ng-model="portfolioStore.stockInfo" ng-options="stockInfo as stockInfo.name for stockInfo in stockinfos track by stockInfo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
