<div class="container-fluid login-page">
    <div class="background">


        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 col-sm-offset-2 col-sm-2 page-logo">
                <h3>CABZZA</h3>
            </div>
        </div>
        <form class="form" role="form" ng-submit="login($event)">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-box">
                    <div class="row">
                        <div class="col-sm-12 box-title">
                            <h3>ZALOGUJ SIĘ </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 col-xs-12 input-group">
                            <input type="text" class="input-style" placeholder="E-MAIL" id="username" aria-describedby="" ng-model="username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 col-xs-12 input-group">
                            <input type="password" class="input-style" placeholder="HASŁO" id="password" aria-describedby="" ng-model="password">
                        </div>
                    </div>
                    <div ng-show="authenticationError">
                        <strong>Logowanie nie powiodło się! </strong> Proszę sprawdź swoje dane logowania i spróbuj ponownie.
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-6 col-sm-6 col-xs-12">
                            <input type="checkbox" id="rememberMe" ng-model="rememberMe" checked>
                            <a><span>Pamietaj mnie</span></a> <br>
                            <a href="#/register" id="register">Nie masz konta?</a>
                            <a id="pass-recovery" href="#/reset/request">Zapomniałeś hasła?</a>
                        </div>
                    </div>


                    <div class="row buttons-row">
                        <div class="col-sm-offset-1 col-sm-5 col-xs-6 nopadding">
                            <a type="button" class="btn" href="#/">Powrót</a>
                        </div>
                        <div class="col-sm-5 col-xs-6 nopadding">
                            <button type="submit" class="btn btn-primary">Zaloguj się</button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>
